

<div class="ui centered card" id = "{{name}}">
  <div class="content">
    <div class="ui center aligned violet header">{{fullname}}</div> 
    <div class="center aligned description">
      <p> {{name}} is {{job}} in {{city}} and joined our team in {{joined}}</p>
    </div>
  </div>
  <div class="center aligned extra content">
    <div class="center aligned author">
      <img class="ui avatar image" src="{{image}}"> {{name}}
    </div>
    </div>
  </div>
