<div class="ui violet stackable card" id ="{{name}}">
  <div class="image">
    <img src="{{image}}">
  </div>
  <div class="content">
    <h3 class="ui violet header">{{fullname}}</h3>
    <div class="meta">
      <span class="date">Caught in {{caught}}</span>
    </div>
    <div class="description">
      {{name}} is a {{type}} pokemon and {{shiny}} 
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="violet star icon"></i>
      {{stars}} 
    </a>
  </div>
  <div class="ui inverted violet button">
      <i class=" inverted violet handshake outline icon" ></i>
      Trade
    </div>
  
</div>


